.amarelo{
	width: 150px;
	height: 150px;
	border:solid 8px;
	border-color: green;
	background-color: yellow;
	border-radius: 25px;
	display: inline-block;
}
.verde{
	width: 150px;
	height: 150px;
	border:solid 8px;
	border-color:yellow;
	background-color: green;
	border-radius: 25px;
	display: inline-block;

}
.azul{
    width: 150px;
	height: 150px;
	border:solid 8px;
	border-color: blue;
	background-color:black 
	border-radius: 25px;
	display: inline-block;
}
.preto{
    width: 150px;
	height: 150px;
	border:solid 8px;
	border-color: black;
	background-color:blue
	border-radius: 25px;
	display: inline-block;
	
}
